@tailwind base;
@tailwind components;
@tailwind utilities;


input,
textarea {
  --tw-ring-inset: none !important;
  --tw-ring-offset-width: 0px !important;
  --tw-ring-color: none;
  --tw-ring-offset-shadow: none !important;
  --tw-ring-shadow: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  accent-color: green !important;
  -webkit-slider-runnable-track: none;
}

*,
::before,
::after {
  box-sizing: unset !important;
}

#document {
  height: 100vh;
  width: 100vw;
  overflow: none;
  background-color: red;
}

#root {
  height: 100%;
}
